* {
  background: #000;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  float: right;
}

div.result {
  text-align: center;
  padding-top: 50px;
}
